<!DOCTYPE html>
<html>
    <head>
        <title>
            Главная
        </title>
    </head>
    <body>
        <h1>
            Что здесь можно найти
        </h1>
        <h2>
            <p><a href="/ghost">Типы призраков и их способности</a></p>

            <p><a href="/item">Микросправка по проклятым предметам</a></p>
        </h2>
        <h2>
            Что такое Phasmophobia
            «Phasmophobia» — это кооперативная хоррор игра, разработанная «Kinetic Games».
            Игра вышла в ранний доступ 18 октября 2020 года на ПК с поддержкой виртуальной реальности.
            В игре вам и ещё трём другим игрокам придётся исследовать паранормальные локации, наполненные привидениями.
        </h2>
    </body>
</html>