<html>
    <head>
        <title>
            Проклятые предметы
        </title>
    </head>
    <body>
        <h1>
            <a href="/">На главную</a>
        </h1>
        <h1>
            <a href="/ghost">К призракам</a>
        </h1>
        <h1>
            Проклятые предметы
        </h1>
        <h2>
            Проклятые предметы — это предметы, которые используются для взаимодействия с призраком или вызывают его появление.
        </h2>
        <h1>
            Доска Уиджи
        </h1>
        <h2>
            Предмет, при помощи которого можно пообщаться с призраком, путём задавания вопросов, но за каждый вопрос вы будете терять определённое количество рассудка.
            Сперва нужно использовать доску, чтобы на ней появилась планшетка, и можно задать следующие типы вопросов:
            Местонахождение призрака/кости, возраст, уровень рассудка. Вопрос о местоположении призрака или кости отнимет 50% рассудка.
            Если положить ЭМП рядом с доской, то оно выдаст 2-й или 5-й уровень ЭМП (если такая улика есть).
            Если на вопрос не хватает рассудка, доска ломается и начинается проклятая охота. При завершении сеанса необходимо попрощаться с доской,
             иначе доска сломается, и начнётся проклятая охота. Доску также можно сфотографировать во время ответа.
        </h2>
        <h1>
            Музыкальная шкатулка
        </h1>
        <h2>
            Представляет собой маленькую деревянную музыкальную шкатулку. Может быть поставлена на пол путём нажатия кнопки F.
            При активации начинает проигрывать мелодию, и можно будет услышать, как призрак подпевает под неё. Если призрак далеко, то его можно только услышать,
            а если призрак окажется в 5 метрах от шкатулки (2.5 метрах, если Ёкай), он материализуется и начнёт к ней приближаться.
            Если призрак дойдёт до шкатулки, либо если игрок бросит шкатулку в активированном состоянии, призрак начнёт проклятую охоту.
            Мелодия от шкатулки истощает рассудок игрока, чем ближе, тем быстрее. Шкатулку можно использовать только один раз. Мелодия проигрывается определённое время,
            если же ничего не произойдёт, то шкатулка просто закроется и станет бесполезной.
        </h2>
        <h1>
            Кукла вуду
        </h1>
        <h2>
            Проклятый предмет, при использовании которого одна из игл воткнётся в куклу. Каждая воткнувшаяся игла заставит призрака взаимодействовать
            с окружением и отнимет 5% рассудка. Если игла втыкается в сердце куклы, то начинается проклятая охота, и отнимается 10% рассудка.
            Если на использование куклы игроку не хватает рассудка, то в куклу воткнутся сразу все иглы.
        </h2>
        <h1>
            Круг призыва
        </h1>
        <h2>
            Проклятый предмет, появляющийся в локации на полу. Представляет собой пентаграмму с пятиконечной звездой.
            На каждом конце звезды есть свеча. Если зажечь все свечи, по центру круга появится призрак в своём физическом облике.
            Через пару секунд после этого начнётся проклятая охота. Если же до того, как зажечь все свечи, началась обычная охота,
            призрак телепортируется в центр круга и без задержек сразу же атакует игрока. Повторно круг использовать нельзя.
        </h2>
        <h1>
            Карты Таро
        </h1>
        <h2>
            Представляет собой колоду из 10 случайных карт Таро. Эти карты либо помогают игроку (восстанавливают рассудок до 100%, воскрешают мёртвого игрока),
            либо же наоборот вредят (снижают рассудок до 0%, мгновенно убивают игрока).
        </h2>
        <h1>
            Обезьянья лапа
        </h1>
        <h2>
            Представляет из себя руку с биркой. Способна исполнять ваши желания. Каждое желание имеет как положительный эффект,
             который вы ожидаете, так и негативный эффект. В зависимости от сложности доступно от 3 до 5 желаний за одну игру.
        </h2>
    </body>
</html>